@import 'reset';
@import 'libs';
@import 'fonts';
@import 'global';




// HEADER ================================================

.header {

    &__container-fluid {
        max-width: 1920px;
        margin: 0 auto;
        background-image: url(../images/header-bg.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    ._container {
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
} 

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;

    @media screen and (max-width: 980px) {
        flex-wrap: wrap;
    }

    @media screen and (max-width: 400px) {
        justify-content: center;
    }
}

.header__logo {
    @media screen and (max-width: 400px) {
        flex: 0 1 100%;
        margin-bottom: 20px;

        img {
            text-align: center;
            margin: 0 auto;
        }
    }
}

.menu {
    @media screen and (max-width: 980px) {
        flex: 0 1 100%;
        order: 1;
        margin-top: 30px;
    }
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    margin: -5px 0;

    @media screen and (max-width: 400px) {
        justify-content: center;
    }
}

.menu__item {
    margin: 5px 0;
    &:not(:last-child) {
        margin-right: 40px;

        @media screen and (max-width: 600px) {
            margin-right: 19px;
        }
    }
}

.menu__item--dropdown {
    position: relative;

    .menu__link {
        display: inline-block;
        position: relative;
        padding-right: 20px;

        &:hover path {
            stroke-opacity: 1;
        }

        svg {
            position: absolute;
            right: 0;
            top: 9px;
            transition: transform 0.3s;

            path {
                transition: stroke-opacity 0.3s;
            }
        }
    }
}

.menu__link,
.menu__dropdown-link {
    transition: color 0.3s;

    &:hover {
        color: white;
    }
}

.menu__dropdown-list {
    display: none;
    position: absolute;
    top: 35px;
    right: -30px;
    padding: 20px;
    background-color: #283036;
    border-radius: 10px;
}

.menu__item--dropdown.menu__item--active .menu__link svg {
    transform: rotate(-180deg);
}

.header__top-btns {
    font-weight: 600;
}

.header__top-btn--login {
    transition: color 0.3s;
    
    &:hover {
        color: white;
    }
}

.header__top-btn--signup {
    display: inline-block;
    padding: 12px 25px;
    background-color: #FF6E30;
    border-radius: 8px;
    color: #FDF5FF;
    margin-left: 40px;
    transition: transform 0.3s;

    &:hover {
        transform: translateY(-3px);
    }
}

.header__content {
    &:not(:last-child) {
        margin: 25px 0;
    }
}

.header__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    max-width: 560px;
    color: #E8E9EA;

    &:not(:last-child) {
        margin-bottom: 30px;

        @media screen and (max-width: 600px) {
            margin-bottom: 15px;
        }
    }

    @media screen and (max-width: 600px) {
        font-size: 34px;
    }

    @media screen and (max-width: 400px) {
        font-size: 27px;
    }
}

.header__text {
    max-width: 480px;

    &:not(:last-child) {
        margin-bottom: 60px;

        @media screen and (max-width: 600px) {
            margin-bottom: 30px;
        }
    }
}

.header__search-box {
    max-width: 500px;
    
    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/icons/search.svg);
        pointer-events: none;
        width: 24px;
        height: 24px;
        left: 21px;
        top: 20px;

        @media screen and (max-width: 400px) {
            left: 10px;
        }
    }
}

.header__social {
    display: flex;
    padding-bottom: 20px;
}

.header__social-item {
    &:not(:last-child) {
        margin-right: 46px;
    }
}

.header__social-link {
    path {
        transition: fill-opacity 0.3s;
    }

    &:hover path {
        fill-opacity: 1;
    }
}


// POPULAR ================================================


.popular {
}

.popular__heading {
    margin-bottom: 90px;

    @media screen and (max-width: 1040px) {
        margin-bottom: 60px;
    }

    @media screen and (max-width: 700px) {
        margin-bottom: 40px;
    }
}

.popular__inner {
    display: flex;
    flex-wrap: wrap;
    margin: -50px -12.5px;

    &:not(:last-child) {
        padding-bottom: 100px;

        @media screen and (max-width: 1040px) {
            padding-bottom: 70px;
        }

        @media screen and (max-width: 700px) {
            padding-bottom: 50px;
        }
    }

    @media screen and (max-width: 700px) {
        margin: -15px -12.5px;
    }
}

.popular__column {
    flex: 0 1 33.333%;
    padding: 50px 12.5px;

    @media screen and (max-width: 1040px) {
        flex: 0 1 50%;
    }

    @media screen and (max-width: 700px) {
        flex: 0 1 100%;
        padding: 15px 12.5px;
    }
}

.card {
    border-radius: 15px;
    padding: 33px;
    transition: background-color 0.2s, transform 0.3s;

    &:hover {
        background-color: #242C32;
        backdrop-filter: blur(50px);
        transform: translateY(-10px);
    }

    & > :not(:last-child) {
        margin-bottom: 30px;
    }
}

.card__header {
    display: flex;

}

.card__logo {

}

.card__info {
    margin-left: 30px;
}

.card__name {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.59;
    color: #E8E9EA;

}

.card__price {
    font-size: 18px;
    line-height: 27px;
    color: #9A6B32;
}

.card__text {

}

.card__footer {
    display: flex;
    justify-content: space-between;
}

.card__footer-btns {
    display: flex;
}

.card__btn {
    cursor: pointer;
    padding: 12px 9px 3px;
    border-radius: 8px;

    transition: background-color 0.3s;

    &:hover {
        background-color: #283036;
    }
}

.card__btn--follow {
    &:hover path{
        fill-opacity: 1;
        fill: #FD3B41;
    }
    path {
        transition: fill 0.3s, fill-opacity 0.3s;
    }

    &:not(:last-child) {
        margin-right: 12px;
    }

    
}

.card__btn--save {
    &:hover path{
        fill-opacity: 1;
    }
    path {
        transition: fill-opacity 0.3s;
    }
}

.card__link {
    border-radius: 8px;
    padding: 9px 35px;
    color: #FDF5FF;
    transition: background-color 0.3s;

    &:hover {
        background-color: #FF6E30;
    }
}

.popular__loadmore {
    display: block;
    color: #FF6E30;
    border: 1px solid #484F53;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding: 17px 38px;
    cursor: pointer;
    width: 190px;
    margin: 0 auto;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
        background-color: #FF6E30;
        color: #FDF5FF;
    }
}


// PARTNERS ================================================


.partners {
}
.partners__box {
    background-color: #21282F;
    border-radius: 25px;
    padding: 55px;
}
.partners__title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FDF5FF;

    &:not(:last-child) {
        margin-bottom: 55px;
    }
}
.partners__list {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}
.partners__item {
    padding: 0 15px;
}


// UPDATES ================================================


.updates {
}

.updates__inner {
    display: flex;
    justify-content: space-between;
}

.updates__info {
    flex: 1 1 auto;
    width: 100%;
    margin-right: 40px;
}

.updates__heading {
    max-width: 410px;

    &:not(:last-child) {
        margin-bottom: 50px;
    }
}

.updates__heading-title {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.updates__btn {
    display: inline-block;
    background-color: #FF6E30;
    border-radius: 8px;
    color: #fdf5ff;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    padding: 16px 40px;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
        background-color: darken(#ff6e30, 5);
        transform: translateY(-3px);
    }
}

.updates__cards {
    display: flex;
    flex-wrap: wrap;
    margin: -25px -12px;

    .card {
        padding: 25px 20px;
    }

    .card__text {
        font-size: 14px;
        line-height: 2.14;
    }
}

.updates__column {
    flex: 0 1 50%;
    padding: 25px 12px;
}


// TEAM ================================================


.team {

    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        cursor: pointer;

        path {
            transition: stroke 0.3s, stroke-opacity 0.3s;
        }

        &:hover path {
            stroke-opacity: 1;
            stroke: #FF6E30;
        }
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;

        li {
            margin: 0 8px;
            font-size: 0;
        }

        .slick-active button {
            background-color: #FF6E30;
        }

        button {
            width: 44px;
            height: 6px;
            background-color: #283036;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.2s;
        }
    }
}

.team__item {
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    margin: 0 auto;
}

.team__item-person {
    position: relative;
    flex: 0 1 400px;
}

.team__item-image {
    background-image: url(../images/team/team-person-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.team__item-person-info {
    position: absolute;
    bottom: 30px;
    right: 0;
    padding: 10px 22px 15px;
    background: rgba(40, 48, 54, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 8px;
}

.team__item-person-name {
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0.015em;
    color: #CDCFD0;
}

.team__item-person-post {
    font-size: 16px;
    line-height: 24px;
    color: #9A9DA0;
}

.team__item-text {
    padding-top: 155px;
    flex: 0 1 400px;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.015em;
    color: #CDCFD0;

    span {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/team/quotation-marks.svg);
            top: -70px;
            left: -55px;
            width: 96px;
            height: 96px;
        }
    }
}


// JOIN ================================================


.join {

    &__container {
        max-width: 575px;
    }
}

.join__heading {
    &:not(:last-child) {
        margin-bottom: 100px;
    }
}


// FOOTER ================================================


.footer {
    padding: 70px 0 100px;
    border-top: 1px solid #404040;
}

.footer__inner {
    display: flex;
    margin: -20px -10px;
}

.footer__column {
    padding: 20px 10px;
    flex: 0 1 20%;

    &--info {
        flex: 0 1 40%;
    }
}

.footer__logo {
    display: inline-block;

    &:not(:last-child) {
        margin-bottom: 25px;
    }
}

.footer__text {
    font-size: 14px;
    line-height: 25px;
    max-width: 250px;
}

.footer__column-title {
    color: #E8E9EA;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.footer__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #9A9DA0;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.footer__link {
    transition: color 0.3s;

    &:hover {
        color: #FF6E30;
    }
}